$primary-color: black;
$secondary-color: white;
* {
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
    list-style: none;
}

// navbar
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $secondary-color;
    .logo {
        font-family: 'Great Vibes', cursive;
        font-size: 2rem;
        font-weight: bold;
    }
    .recipe-title {
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        li {
            margin-right: 2rem;
            padding-right: 1rem;
            a {
                text-decoration: none;
                color: $primary-color;
                &:hover {
                    color: orange;
                    border-bottom: 4px solid blue;
                    border-top: 4px solid blue;
                    border-radius: 20%;
                }
            }
        }
    }
}

.types-of-food {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 1rem;
}

// image style for extend usage 
.image-text {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    color: $secondary-color;
    text-align: center;
    position: relative;
}

// grid style
.section-food-grid {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30vh, auto);
    grid-auto-columns: 40vh;
    grid-auto-rows: 20vw;
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 2rem auto;
}

.salad-egg {
    background: url(./media/salad-egg.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

.burger {
    background: url(./media/burger.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

.pizza {
    background: url(./media/pizza.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

.pancakes {
    background: url(./media/pancakes.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

.pasta {
    background: url(./media/pasta-zucchini.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

.salad-mozarella {
    background: url(./media/salad-mozarella.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

.breakfast {
    background: url(./media/fruits.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

.cake {
    background: url(./media/cake.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

.salad-mix {
    background: url(./media/salad-mix.jpg);
    @extend .image-text;
    background-size: cover;
    background-position: center;
}

// styling text overlay in image
.img-text {
    background-color: $primary-color;
    opacity: 0.6;
}

.overlay-text {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.img-text {
    padding: .3rem;
}

// bottom footer section
.footer {
    width: 100%;
    background-color: $primary-color;
    text-align: center;
    color: $secondary-color;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    .register-menu {
        display: flex;
        justify-content: space-around;
        padding: 1rem 14rem;
        a {
            text-decoration: none;
            color: $secondary-color;
            &:hover {
                color: orange;
            }
        }
    }
    .social-media-icons {
        display: flex;
        justify-content: center;
        color: $secondary-color;
        li {
            padding: 0 0.5rem;
            .instagram {
                color: $secondary-color;
                &:hover {
                    color: violet;
                }
            }
            .facebook {
                color: $secondary-color;
                &:hover {
                    color: blue;
                }
            }
            .youtube {
                color: $secondary-color;
                &:hover {
                    color: red;
                }
            }
        }
    }
    .footer-copyright {
        padding: 1rem;
    }
}

// media query responsive
@media screen and (max-width: 480px) {
    .section-food-grid {
        width: 90vw;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(30vh, auto);
        grid-auto-columns: 40vh;
        grid-auto-rows: 70vw;
        grid-auto-flow: row;
        row-gap: 0.5rem;
        column-gap: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0.5rem auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 980px) {
    .section-food-grid {
        width: 90vw;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(30vh, auto);
        grid-auto-columns: 40vh;
        grid-auto-rows: 40vw;
        grid-auto-flow: row;
        row-gap: 1rem;
        column-gap: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 1rem auto;
    }
}