$primary-color: black;
$secondary-color: white;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

// navbar
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $secondary-color;
    .logo {
        font-family: 'Great Vibes', cursive;
        font-size: 2rem;
        font-weight: bold;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        li {
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            margin-right: 1rem;
        }
    }
}

.types-of-food {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding: 1rem;
}

// image style for extend usage 
.image-text {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    position: relative;
}

// grid style
.section-food-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 3rem 7rem;
}

.salad-egg {
    background: url(./media/salad-egg.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

.burger {
    background: url(./media/burger.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

.pizza {
    background: url(./media/pizza.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

.pancakes {
    background: url(./media/pancakes.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

.pasta {
    background: url(./media/pasta-zucchini.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

.salad-mozarella {
    background: url(./media/salad-mozarella.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

.breakfast {
    background: url(./media/fruits.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

.cake {
    background: url(./media/cake.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

.salad-mix {
    background: url(./media/salad-mix.jpg);
    @extend .image-text;
    width: 300px;
    height: 300px;
    // width: 100%;
    // height: 100%;
    background-size: cover;
    background-position: center;
}

// styling text overlay in image
.img-text {
    background-color: $primary-color;
    opacity: 0.6;
}

.overlay-text {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.img-text {
    padding: .3rem;
}

// bottom footer section
.footer {
    background-color: $primary-color;
    text-align: center;
    color: $secondary-color;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    .register-menu {
        display: flex;
        justify-content: space-around;
        padding: 1rem 14rem;
        a {
            text-decoration: none;
            color: $secondary-color;
            &:hover {
                color: orange;
            }
        }
    }
    .social-media-icons {
        display: flex;
        justify-content: center;
        color: $secondary-color;
        li {
            padding: 0 0.5rem;
            .instagram {
                color: $secondary-color;
                &:hover {
                    color: violet;
                }
            }
            .facebook {
                color: $secondary-color;
                &:hover {
                    color: blue;
                }
            }
            .youtube {
                color: $secondary-color;
                &:hover {
                    color: red;
                }
            }
        }
    }
    .footer-copyright {
        padding: 1rem;
    }
}

// media query responsive
@media screen and (max-width: 480px) {
    .section-food-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        gap: 1rem;
        margin: 3rem 7rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 980) {
    .section-food-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;
        margin: 3rem 7rem;
    }
}

@media screen and (max-width: 1200px) {
    .section-food-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}