* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.navbar .logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.navbar ul li {
  margin-right: 1rem;
}

.types-of-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding: 1rem;
}

.image-text, .salad-egg, .burger, .pizza, .pancakes, .pasta, .salad-mozarella, .breakfast, .cake, .salad-ruccola {
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  color: white;
}

.section-food-grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 3rem 7rem;
}

.salad-egg {
  background: url(./media/salad-egg.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.burger {
  background: url(./media/burger.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.pizza {
  background: url(./media/pizza.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.pancakes {
  background: url(./media/pancakes.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.pasta {
  background: url(./media/pasta-zucchini.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.salad-mozarella {
  background: url(./media/salad-mozarella.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.breakfast {
  background: url(./media/fruits.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.cake {
  background: url(./media/cake.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.salad-ruccola {
  background: url(./media/salad-ruccola.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */