* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: white;
}

.navbar .logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.navbar ul li {
  margin-right: 1rem;
}

.types-of-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  padding: 1rem;
}

.image-text, .salad-egg, .burger, .pizza, .pancakes, .pasta, .salad-mozarella, .breakfast, .cake, .salad-mix {
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
  position: relative;
}

.section-food-grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 3rem 7rem;
}

.salad-egg {
  background: url(./media/salad-egg.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.burger {
  background: url(./media/burger.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.pizza {
  background: url(./media/pizza.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.pancakes {
  background: url(./media/pancakes.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.pasta {
  background: url(./media/pasta-zucchini.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.salad-mozarella {
  background: url(./media/salad-mozarella.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.breakfast {
  background: url(./media/fruits.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.cake {
  background: url(./media/cake.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.salad-mix {
  background: url(./media/salad-mix.jpg);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.img-text {
  background-color: black;
  opacity: 0.6;
}

.overlay-text {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.img-text {
  padding: .3rem;
}

.footer {
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
}

.footer .register-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 14rem;
}

.footer .register-menu a {
  text-decoration: none;
  color: white;
}

.footer .register-menu a:hover {
  color: orange;
}

.footer .social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.footer .social-media-icons li {
  padding: 0 0.5rem;
}

.footer .social-media-icons li .instagram {
  color: white;
}

.footer .social-media-icons li .instagram:hover {
  color: violet;
}

.footer .social-media-icons li .facebook {
  color: white;
}

.footer .social-media-icons li .facebook:hover {
  color: blue;
}

.footer .social-media-icons li .youtube {
  color: white;
}

.footer .social-media-icons li .youtube:hover {
  color: red;
}

.footer .footer-copyright {
  padding: 1rem;
}

@media screen and (max-width: 480px) {
  .section-food-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[9];
        grid-template-rows: repeat(9, 1fr);
    gap: 1rem;
    margin: 3rem 7rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 980) {
  .section-food-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    margin: 3rem 7rem;
  }
}

@media screen and (max-width: 1200px) {
  .section-food-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=main.css.map */