* {
    padding: 0;
    margin: 0;
}

// navbar
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .logo {
        font-family: 'Great Vibes', cursive;
        font-size: 2rem;
        font-weight: bold;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        li {
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            margin-right: 1rem;
            a {
                // justify-content: center;
                // justify-content: space-between;
            }
        }
    }
}

.types-of-food {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding: 1rem;
}

// image style for extend
.image-text {
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    color: white;
}

// .image-setup {
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     background-position: center;
// }
.section-food-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 3rem 7rem;
}

.salad-egg {
    background: url(./media/salad-egg.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.burger {
    background: url(./media/burger.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.pizza {
    background: url(./media/pizza.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.pancakes {
    background: url(./media/pancakes.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.pasta {
    background: url(./media/pasta-zucchini.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.salad-mozarella {
    background: url(./media/salad-mozarella.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.breakfast {
    background: url(./media/fruits.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.cake {
    background: url(./media/cake.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.salad-ruccola {
    background: url(./media/salad-ruccola.jpg);
    @extend .image-text;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}